<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.timothysmith.googlecloud</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>023D51FE-9EC7-44C5-8F61-0458085261B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19691AAD-3498-419F-B0C3-202A24751666</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>665CC380-11D5-4C67-818C-15551A101FF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>023D51FE-9EC7-44C5-8F61-0458085261B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE6049DD-F6AE-409E-B837-08BF78A58C80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>003C99B5-C49B-433C-8960-1965C854D4B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Timothy Smith</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CloudSQL Instances</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>csql</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting instances...</string>
				<key>script</key>
				<string>./csql --search "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>instance name</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EE6049DD-F6AE-409E-B837-08BF78A58C80</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>qry="{query}"

case "$qry" in
  https://*) # repo selected, open in browser
	open "$qry"
	;;
esac</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>003C99B5-C49B-433C-8960-1965C854D4B1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>CloudSQL Refresh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>19691AAD-3498-419F-B0C3-202A24751666</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>csql-refresh</string>
				<key>subtext</key>
				<string>Force update of cached sql instances</string>
				<key>text</key>
				<string>Refresh SQL Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>665CC380-11D5-4C67-818C-15551A101FF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./csql --refresh</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>023D51FE-9EC7-44C5-8F61-0458085261B9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow makes it easy to quickly access CloudSQL dashboards of your GCP project. It avoids the pain of going through the clunky cloud console UI.

The cache used has a TTL of 5 minutes, or you can manually refresh with `csql-refresh`. 

A small go client has been packaged with this workflow that will fetch all the instances of your GCP project. It relies on using the `golang.org/x/oauth2/google` library which will try to load your system's default credentials. If you are set up with the gcloud SDK, this should be seamless.</string>
	<key>uidata</key>
	<dict>
		<key>003C99B5-C49B-433C-8960-1965C854D4B1</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>023D51FE-9EC7-44C5-8F61-0458085261B9</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>19691AAD-3498-419F-B0C3-202A24751666</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>665CC380-11D5-4C67-818C-15551A101FF3</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>EE6049DD-F6AE-409E-B837-08BF78A58C80</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>CLOUD_SQL_PATH</key>
		<string>/Users/timothysmith/Library/Application Support/Alfred 3/Alfred.alfredpreferences/workflows/user.workflow.950863E3-8BD4-42D2-B69D-5DAC7B2DEF02/go/cloudsql</string>
		<key>PROJECT</key>
		<string>shopify-tiers</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>PROJECT</string>
		<string>CLOUD_SQL_PATH</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
